@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="search">
        <input type="text" id="txt_field1" class="form-control input-sm" placeholder="Field 1 search criteria"/>
        <input type="text" id="txt_field2" class="form-control input-sm" placeholder="Field 2 search criteria"/>
        <div id="commands">
            <input type="button" class="btn btn-primary" value="Search"/>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div id="grd_diffs" style="margin-top: 20px;"></div>
</div>

<script src="@Url.Content("~/Scripts/biz/Index.js")"></script>
<script>
    Index.init();
</script>

<style>
    #commands {
        float: right;
    }
</style>
